{% extends 'base_with_login.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block header %} Hobby Site {% endblock header %}
{% block content %}
    <br><a href="{% url 'merchstore:product-list'%}">Merchstore</a>
    <br><a href="{% url 'wiki:articles_list'%}">Online Wiki</a>
    <br><a href="{% url 'blog:articles'%}">Blog</a>
    <br><a href="{% url 'forum:post_list'%}">Forum</a>
    <br><a href="{% url 'commisions:list'%}">Commission</a><br>
    
    <h2>Members:</h2>
    <p>Badiola, Enrique Gabriel</p>
    <p>Dorde, Andre Benedict</p>
    <p>Pascual, Eizekiel</p>
    <p>Tabo, Ken Jonree Tabo</p>
    <p>Villegas, Noah</p>
{% endblock %}