{% extends 'base_with_login.html' %}

{% block title %}Commissions{% endblock %}

{% block header %}Commissions{% endblock header %}
{% block content %}
    <br><a href="{% url 'commissions:list' %}"><button>Back</button></a>
    <p style="font-size:150%">{{ object.title }}
    {% if object.author.user == request.user %}
         - <a href="{% url 'commissions:update' pk %}">EDIT</a>
    {% endif %}
    </p>
    <p style="font-size:100%">POSTED BY: {{ object.author }}</p>
    <p style="font-size:75%">
        CREATED: {{ object.created_on }}<br>
        UPDATED: {{ object.updated_on}}
    </p>

    <p style="font-size:75%">status: {{object.status|title}} </p>

    <p><br>DESCRIPTION:</p>
    <p style="font-size:90%">{{ object.description }}<br></p>

    <p><br>POSITIONS:</p>
    <ol>
        {% for job, hired in applications.items %}
            <li>
                {{ job.role }} <br>
                {% widthratio hired 1 -1 as result %}

                {{ job.manpower_required|add:result}} out of
                {{ job.manpower_required }} slots available
            </li>
            <ul>
                {% if job.status == 'open' and object.author.user != request.user %}
                    <li>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" name="{{job.role}}">APPLY</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
            {% empty %}
                No jobs provided!
        {% endfor %}
    </ol>

    <hr>

{% endblock %}