{% extends 'base_with_login.html' %}

{% block title %}Commissions{% endblock %}

{% block header %}Commissions{% endblock header %}
{% block content %}
    <p style="font-size:150%">{{ object.title }}
    {% if object.author.user == request.user %}
         - <a href="{% url 'commissions:update' pk %}">EDIT</a>
    {% endif %}
    </p>
    <p style="font-size:100%">POSTED BY: {{ object.author }}</p>    
    <p style="font-size:75%">
        CREATED: {{ object.created_on }}<br>
        UPDATED: {{ object.updated_on}}        
    </p>

    <p><br>DESCRIPTION:</p>
    <p style="font-size:90%">{{ object.description }}<br></p>    

    <p><br>POSITIONS:</p>
    <ol>
        {% for job in jobs %}
            <li>{{ job.role }} /{{ job.manpower_required }}</li>
                <ul>
                    <li>
                        {% if job.status == 'open' and object.author.user != request.user %}
                            <button type="button"> 
                                APPLY
                            </button>
                        {% endif %}
                    </li>
                </ul>
            {% empty %}
                No jobs provided!
        {% endfor %}
    </ol>
    
    <hr>
    
{% endblock %}